[build]
  command = "npm run build"
  publish = "lib"
  functions = "netlify/functions"

[context.production.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200

[functions]
  # 1. 关键：删掉了 node_bundler = "esbuild"
  # 让 Netlify 保持原样，不要转译我的代码
  
  # 2. 依然强制忽略所有 node_modules 打包，防止体积爆炸
  external_node_modules = ["*"]
  
  # 3. 强制带上 lib 目录（因为代码里是动态引用的，打包器看不见）
  included_files = ["lib/**", "package.json"]
