[build]
  command = "npm run build"
  publish = "lib"
  functions = "netlify/functions"

[context.production.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200

[functions]
  # 关键：告诉 Netlify "虽然你没打包这些文件，但请务必把它们复制到服务器上"
  # 我们把 lib 目录和 package.json 强行带上
  included_files = ["lib/**", "package.json"]
  
  # 这里不指定 node_bundler，让它使用默认值，配合上面的障眼法即可
