[build]
  command = "npm run build"
  publish = "lib"
  functions = "netlify/functions"

[context.production.environment]
  NODE_VERSION = "20" # 强制使用 Node 20，解决 await 报错

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/index"
  status = 200

[functions]
  # 关键：手动把所有需要的文件强行带上
  # 既然它找不到 art 模板，我们就强制包含进去
  included_files = ["lib/**/*.js", "lib/**/*.art", "lib/**/*.ts", "package.json"]
  
  # 注意：这里千万不要再写 node_bundler = "esbuild" 了！
